<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <a class="navbar-brand" href="#">PWA Ferias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="stands-list">Stands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users-list" >Expositores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="stands-buy">Compra de Stands</a>
      </li>
      <div id="admin" *ngIf="auth.user | async as user">
        <li class="nav-item" >
          <a class="nav-link" routerLink="users-add" *ngIf="user.isAdmin">Añadir Expositores</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="stands-add" *ngIf="user.isAdmin">Añadir Stands</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="stands-sell" *ngIf="user.isAdmin">Venta de Stands</a>
        </li>
      </div>
    </ul>

  </div>
</nav>
