<div class="container" *ngIf="auth.user | async as user">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID Stand</th>
        <th>Tamaño</th>
        <th>Piso</th>
        <th>Precio</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody *ngFor="let purchase of purchases |async">
      <tr>
        <td>{{purchase.idStand}}</td>
        <td>{{purchase.size}}</td>
        <td>{{purchase.floor}}</td>
        <td>{{purchase.price}} Bs</td>
        <td>{{purchase.idUser}}</td>
      </tr>
    </tbody>
  </table>
  </div>
