<div class="container">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Tamaño</th>
        <th>Piso</th>
        <th>Precio</th>
        <th>Disponible</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stand of stands |async" >
        <td>{{stand.id}}</td>
        <td>{{stand.size}}</td>
        <td>{{stand.floor}}</td>
        <td>{{stand.price}} Bs</td>
        <td>{{stand.available}}</td>
      </tr>
    </tbody>
  </table>
  </div>
