<div *ngIf="!(auth.user | async); else alreadyLoggedIn">

  <h3>Social Login</h3>


    <button (click)="signInWithGoogle()" class="btn btn-danger">
      <i class="fa fa-google fa-lg"></i>  Google Login
    </button>

    <button (click)="signInWithFacebook()" class="btn btn-primary" >
      <i class="fa fa-facebook fa-lg"></i> Facebook Login
    </button>

    <button (click)="signInWithTwitter()" class="btn btn-info" >
      <i class="fa fa-twitter fa-lg"></i> Twitter Login
    </button>

    <hr>

    <h3> Login Anónimo</h3>

      <button (click)="signInAnonymously()" class="btn btn-secondary">
        <i class="fa fa-user-secret fa-lg"></i> Conectar Anonimamente
      </button>

    <hr>

  <app-user-form></app-user-form>
    <!-- <user-form></user-form> -->

</div>




<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Sesión iniciada
  </p>
</ng-template>
