<div class="box" >
    <div *ngIf="auth.user | async; then authenticated else guest">
            <!-- template will replace this div -->
    </div>
</div>




<!-- User NOT logged in -->
<ng-template #guest class="box">
  <div class="container">
    <h3>Bienvenido</h3>
    <p class="card-text">Inicia sesión para continuar</p>
    <button class="button" routerLink="/login">Login</button>
  </div>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div class="container">
    <div class="col-md-auto">
      <div *ngIf="auth.user | async as user" class="card">
        <h3 class="card-header">{{ user.displayName }}</h3>
        <div class="card-body">
          <h5 class="card-title">{{user.email}}</h5>
          <h6 class="card-subtitle text-muted" *ngIf="user.isAdmin">Admin</h6>
          <h6 class="card-subtitle text-muted" *ngIf="!user.isAdmin">Regular</h6>
        </div>
        <img style="height: 100px width: 100px; display: block;" [src]="user.photoURL || 'https://cad.onshape.com/images/placeholder-user.png'" alt="Card image">
        <div class="card-body">
          <p class="card-text">Nacionalidad: {{user.nationality}}</p>
          <p class="card-text">Empresa: {{user.company}}</p>
          <p class="card-text">Actividad Primaria: {{user.mainActivity}}</p>
          <p class="card-text">Actividad Secundaria: {{user.secondActivity}}</p>
          <button type="button" (click)="editUser($event)"  *ngIf="!editState" class="btn btn-info">Editar Datos</button>
          <button type="button" *ngIf="editState" (click)="clearState()" class="btn btn-info">Cerrar</button>

          <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>

          <div *ngIf="editState">
            <form (ngSubmit)="updateUserData(user)">
              <div class="form-group">
               <input type="text" disabled class="form-control" [(ngModel)]="user.uid" name="title" placeholder="UID">
               <input type="text" class="form-control" [(ngModel)]="user.displayName" name="displayName" placeholder="Nombre">
               <input type="text" class="form-control" [(ngModel)]="user.email" name="email" placeholder="email">
               <input type="text" class="form-control" [(ngModel)]="user.nationality" name="nationality" placeholder="Nacionalidad" required>
               <input type="text" class="form-control" [(ngModel)]="user.company" name="company" placeholder="Empresa" required>
               <input type="text" class="form-control" [(ngModel)]="user.mainActivity" name="mainActivity" placeholder="Actividad Primaria" required>
               <input type="text" class="form-control" [(ngModel)]="user.secondActivity" name="secondActivity" placeholder="Actividad Secundaria" required>
             </div>
              <button value="Submit" class="btn btn-success">Actualizar</button>
            </form>
          </div>

        </div>
        <div class="card-footer text-muted">
          UID: {{ user.uid }}
        </div>
      </div>
    </div>
  </div>

</ng-template>
