<app-navbar></app-navbar>
<img src="../assets/images/banner.jpg" width="100%" alt="banner">


<div *ngIf="notify.msg | async as msg" class="alert alert-dismissible"
      [ngClass]="{
                   'alert-danger': msg.style == 'error',
                   'alert-success': msg.style == 'success',
                   'alert-info': msg.style == 'info'
                  }">

   <button class="close" data-dismiss="alert" (click)="notify.clear()">&times;</button>
   {{ msg.content }}

 </div>
<user-profile></user-profile>
<router-outlet></router-outlet>
