<!-- <div *ngIf="users?.length >0; else noUSers"> -->
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Nacionalidad</th>
        <th>Actividad Primaria</th>
        <th>Actividad Secundaria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users |async" >
        <td>{{user.displayName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.nationality}}</td>
        <td>{{user.mainActivity}}</td>
        <td>{{user.secondActivity}}</td>
      </tr>
    </tbody>
  </table>

<users-add></users-add>
<!-- </div>

<ng-template #noUsers>
<h1>No hay Expositores registrados</h1>
</ng-template> -->
